@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.App {
  text-align: center;
}

.myBody {
  min-height: 500px;
  margin-top: 70px;
}
.myBody .list-group {
  margin-top: 25px;
}
.navbar {
  box-shadow: 0 1px 5px #007bff;
  margin-bottom: 70px;
}
.navbar-brand {
  font-family: 'Kaushan Script', cursive;
}
.card > a:hover{
  box-shadow: 1px 1px 15px #007bff;
}
.list-group-item:hover {
  background-color: #007bff;
  color: #ffffff;
  font-weight: 600
}
a > .btn-primary {
  color:#fff;
}
.myBody form {
  box-shadow: 1px 1px 10px #007bff;
}
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px dashed #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
